*{
  margin:0;
  padding:0;
  text-decoration: none;
}
.container{
  display:flex;
}
main{
  width: 100%;
  padding: 20px;
  background-color: #d5fefd;
background-image: linear-gradient(315deg, #b3f6f5 0%, #f7e6f7 74%);
}
.sidebar{
  background-color: #0cbaba;
background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
  color: #fff;
  height: 200vh;
  width: 200px;
  transition: all 0.5s;
}
.top_section{
  display: flex;
  align-items:center;
  padding:20px 15px;
}
.logo{
  font-size: 30px;
}
.bars{
  display: flex;
  font-size: 25px;
  margin-left:50px;
}
.link{
  display: flex;
  color: #fff;
  padding: 20px 25px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover{
  background:lightskyblue;
  color: #000;
  transition: all 0.5s;
}
.active{
  background: lightskyblue;
  color: #000;
}
.icon, .link_text{
  font-size: 20px;
}

.profile {
  text-align: center;
  display: flex;  
  flex-direction: row;
  align-content: center;
  justify-content: center;
  padding-top: 100px;
}

.row-style {
  background-color: #D7D3D3;  
  padding: 15px;
  border: solid white 5px;
}
.table-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 170px;

}
